<%- include("header"); -%>

<div class="error">
  <div class="image">
      <img class="horizontaal" src="../img/error.svg" alt="404">
      <img class="verticaal" src="../img/error-02.svg" alt="404">
  </div>
  <div>
    <h1>Oops ... <br>something's <br>wrong</h1>
    <p>We have tried really hard, but couldn't find the page you were looking for. You may find what your looking for on our homepage.</p>
    <a href="/">Go Back</a>
  </div>
</div>

<%- include("end"); -%>
