<%- include("header"); -%>
<%- include("nav"); -%>

<div class="exhibition">
  <div class="intro">
    <div class="contain">
      <h1>Exhibitions</h1>
      <p class="geenknop">With art galleries and museums around the world closing because of Covid-19, artists, galleries and museums have turned to technology and social media to keep their doors open virtually so visitors from anywhere in the world can still interact with and view art.<br><br>The Digital Art Museum is in the process of making its exhibitions available digitally. The first exhibition "Powerful Portraits" can already be visited on our website. The two other exhibitions will be available soon. </p>
    </div>
  </div>
  <div class="contain">
    <h4>Powerful Portraits</h4>
    <div class="afbeelding">
      <img src="img/Magdiel-Lopez-1.jpg" alt="Powerful Portraits exhibition">
      <a href="/portraits">Visit</a>
    </div>
    <h4>Animal Kingdom</h4>
    <div class="afbeelding">
      <img src="img/exhibition-2.jpg" alt="Animal Kingdom Exhibition">
      <a href="/404">Visit</a>
    </div>
    <h4>Spring Collection</h4>
    <div class="afbeelding">
      <img src="img/exhibition-3.jpg" alt="Spring Collection Exhibition">
      <a href="/404">Visit</a>
    </div>
  </div>

</div>


<%- include("footer"); -%>
<%- include("end"); -%>
