
    <div class="item">
      <a class="afbeelding" href="/portraits/<%=index %>">
        <img src="/img/<%=item.image%>" alt="<%=item.artist%>">
        <span class="info" href="/portraits/<%=index %>">Info</span>
      </a>
    </div>
