<!doctype html>
<html>
	<head>
		<title>Digital Art Museum | <%-pageTitle%></title>

		<link rel="stylesheet" href="/css/reset_plus.css">
		<link rel="stylesheet" href="https://use.typekit.net/zew3apf.css">
		<link rel="stylesheet" href="https://use.typekit.net/zew3apf.css">
	  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">	
		<link rel="stylesheet" href="/css/burger.css">
    <link rel="stylesheet" href="/css/master.css">
		<meta charset="utf-8">
		<!-- FAVICONS -->
		<link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
		<link rel="manifest" href="../favicon/site.webmanifest">
		<link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#fd7360">
		<meta name="msapplication-TileColor" content="#fd7360">
		<meta name="theme-color" content="#ffffff">

		<meta name="viewport" content="width=device-width, initial-scale=1">

	</head>
	<body>
