<header>
  <div class="contain">
    <div class="header-upper">
      <a class="logo" href="/"><img src="../img/logo.svg" alt="Digital Art Museum"></a>
      <div class="burger burger-squeeze" style="font-size: 8px">
        <div class="burger-lines"></div>
      </div>
    </div>
    <nav class="onzichtbaar">
      <ul>
        <li><a href="/">Museum</a></li>
        <li><a href="/exhibitions">Exhibitions</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
